<html>

<head>
    <link rel="stylesheet" href="bootstrap.min.css">
</head>

<body ng-controller="insertController">
    <div class="form-group" style="margin-top:30px;margin-bottom:30px">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" ng-model="user.fname">

        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" ng-model="user.lname">

        <label for="salary">Salary</label>
        <input type="number" class="form-control" ng-model="user.salary">
        <br>
        <center>
        <button type="button" class="btn btn-info" ng-click="insertUser()">Insert</button>
        <center>
    </div>
</body>

</html>